.del-head
    width 100%
    height 200px
    background url('../img/delivery/bg.jpg') center no-repeat
    background-size cover
    margin-top -45px
    position relative
    &::after
        content: ""
        width 100%
        height 100%
        position: absolute
        top: 0
        left: 0;
        background-color rgba(0,0,0,0.6);


.del-opt 
    padding 30px 0
    @media(max-width media-mb) 
        padding-bottom: 0

.del-opt__header {}


.del-opt__body 
    display flex
    @media(max-width media-big-tb)
        flex-wrap: wrap

.del-opt__img 
    display flex
    justify-content center
    align-items center
    width 50%
    @media(max-width media-big-tb)
        width 100%
        order: 2
.del-opt__img img
    max-width: 100%    
.del-opt__info 
    width 50%
    padding 0 15px
    display flex
    flex-direction: column
    justify-content center
    @media(max-width media-big-tb)
        width 100%
        order: 1
        margin-bottom 50px
    @media(max-width media-mb)   
        padding 0  
        text-align center

.del-opt__item 
    margin-bottom 20px

.del-opt__title 
    font-size 20px
    font-weight 700
    color: #333

.del-opt__text
    color: #5c6873;
    font-size 16px

.del-opt__link
    margin-top 10px
    
.del-fixed 
    padding 70px 0

.del-fixed__flex 
    display flex
    align-items: center
    @media(max-width media-big-tb)
        flex-wrap: wrap

.del-fixed__mess 
    width 60%
    @media(max-width media-big-tb)
        width 100%
        text-align center
        margin-bottom 20px

.del-fixed__action
    width: 40%
    display: flex
    justify-content: center
    @media(max-width media-big-tb)
        width 100%

.del-fixed__title
    color: #fff
    font-size 26px
    font-weight 700
    text-transform uppercase
    margin-bottom: 10px
    @media(max-width media-mb)
        font-size 20px

.del-fixed__text 
    color: #b5c4e5;
    font-size 15px
    text-transform uppercase
    @media(max-width media-mb)
        font-size 14px
