.pay 
    background-color #f7f7f7 
    margin-top -45px
    padding: 30px 0
    @media(max-width media-big-tb) 
        margin-top: 0
    @media(max-width media-tb) 
        padding 20px 0
.pay__header 
    margin-bottom 50px


.pay__flex 
    display: flex
    flex-wrap: wrap
    justify-content: space-between
.pay__item 
    width: 32.33333%
    background-color: #fff
    padding: 30px
    display: flex
    margin-bottom: 10px
    @media(max-width media-big-tb) 
        width 49%
    @media(max-width media-tb) 
        width 100%
    @media(max-width media-mb) 
        padding 15px
.pay__img 
    width: 30%
    display: flex
    justify-content: center
    & img 
        width: 70px

.pay__info 
    width: 70%
    padding: 15px;

.pay__title 
    text-transform uppercase
    color: #333
    font-size 16px
    font-weight 700
    margin-bottom 5px

.pay__text 
    color: #5c6873
    font-size 14px


.pay__pic
    & img 
        width: 150px