.popular-products 
    background-color #f7f7f7 
    padding-top 40px
    padding-bottom 50px

.popular-products__header{
    }

.popular-products__block 
    padding 0 60px
    position relative
    @media(max-width media-mb)
        padding: 10px 30px 0

.popular-products__slider {
}
.popular-products__cart 
    display flex
    flex-direction: column
    align-items center
    justify-content start
    text-align: center
    background-color #fff
    transition all ease .1s
    position relative
    overflow hidden
    &:after
        content ""
        width 100%
        height 100%
        position: absolute
        top: 0
        left: 0;
    @media(min-width media-big-tb)
        &:hover
            &:after
                border 1px solid secondColor
            .popular-products__title 
                background-color secondColor
            .popular-products__hover 
                transform: translateY(0)

.popular-products__img 
    position relative
    width 100%
    display flex
    align-items center
    justify-content center
    img
        object-fit: cover
        

.popular-products__content
    padding: 20px
    height 100%
    @media(max-width 680px)
        padding 5px
        padding-bottom: 20px
        width 100%

.popular-products__title 
    font-size 18px
    background-color #0142cd
    color #fff
    padding 5px 10px
    width 100%
    text-transform uppercase
    cursor default
    margin-bottom: 10px
    transition all ease .1s
    min-height 50%
    display flex
    justify-content center
    align-items center
    @media(max-width 400px)
        font-size 16px
        min-height 40%
    @media(max-width 320px)
        min-width: 35%

.popular-products__hover 
    position: absolute
    top: 0
    left: 0
    z-index: 100
    width: 100%
    height 100%
    background-color rgba(0, 0, 0, 0.4)
    display flex
    justify-content center
    align-items center
    transform: translateY(-120%)
    transition: all ease .2s

.popular-products__connect 
    background-color rgb(0, 0, 0)
    width: 44px
    height: 44px
    border-radius: 50%
    position relative
    opacity: 0.8
    transition: all ease .1s
    margin-right 10px
    &:after
        content ""
        background url(../img/icons/connect.svg) center no-repeat
        background-size cover
        width 20px
        height 20px
        position absolute
        top 50%
        left 50%
        z-index 10
        transform: translate(-50%,-50%)
    &:hover
        opacity 1

.popular-products__search 
    background-color rgb(0, 0, 0)
    width: 44px
    height: 44px
    border-radius: 50%
    position relative
    opacity: 0.8
    transition: all ease .1s
    &:after
        content ""
        background url(../img/icons/search-white.svg) center no-repeat
        background-size cover
        width 20px
        height 20px
        position absolute
        top 50%
        left 50%
        z-index 10
        transform: translate(-50%,-50%)
    &:hover
        opacity 1

.popular-products__link 
    color: #0142cd 
    border-bottom-style: dashed
    border-bottom-width: thin
    border-bottom-color: #0142cd 
    position relative
    z-index 100

.popular-products__info 
    color #5c6873
    margin-top 10px
    cursor default
