.swiper-pagination-bullet
    width 20px
    height 20px
    cursor pointer
    position relative
    background-color #fff
    outline: none 
    opacity: 0.3
    border: 1px solid #333
    &:after
        content: ""
        width 13px
        height 13px
        position absolute
        top 50%
        left 50%
        transform: translate(-50%,-50%)
        background-color mainColor
        border-radius: 50%
        opacity: 0
    &:hover
        opacity .7
    @media(max-width media-tb)
        width 30px
        height 30px
        &:after
            width 20px
            height 20px
    @media(max-width media-big-tb)
        width 26px
        height 26px
        &:after
            width 16px
            height 16px

.swiper-pagination-bullet-active
    opacity: 1
    &:after
        opacity 1
    &:hover
        opacity 1
        &:after
            opacity 1

.swiper-button-next
    outline: none
    @media(min-width media-big-tb)
        transition: all ease .2s
        &:hover
            &:after,
            &:before
                color  #ff8401
    @media(max-width media-mb)
        right -5px

.swiper-button-prev
    outline: none
    @media(min-width media-big-tb)
        transition: all ease .2s
        outline: none
        &:hover
            &:after,
            &:before
                color  #ff8401
    @media(max-width media-mb)
        left -5px